* {
    margin: 0;
    padding: 0;
    border: 0;
}

#header {
    height: 4.25rem !important;
    background-color: rgba(255, 231, 238, 0.2);
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: #CC0843 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#header img {
    width: 21.875rem;
    height: 4.375rem;
}

#header #menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#header #menu a {
    text-decoration: none;
    color: black;
    font-size: 1.10rem;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
}

#header #menu a:hover {
    text-decoration: underline;
    color: #CC0843;
}

#header #menu a.active {
    text-decoration: underline;
    color: #CC0843;
}

#header #menu #active {
    text-decoration: underline;
    color: #CC0843;
}